@import "settings";
@import "foundation";
@import "style";

.contain-to-grid, .top-bar {
  background: #62ABD0;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #62ABD0;
  color: rgb(216, 242, 255);
  font-size: .8rem;
  transition: all 300ms ease;
  &:hover {
    background: #72b8db;
  }
}

.top-bar .name h1 a {
  color: #fff;
  font-family: 'Oleo Script Swash Caps', cursive !important;
  font-size: 1.7rem;
}

button.alert, .button.alert {
  background: #F28282;
  &:hover {
    background: #DC6363;
  }
}

.nav-mobile {
  position: fixed;
  right: 30px;
  z-index: 3;
  padding: 16px 20px 0px 4px;
  background: #5B9ABA;
  border: solid 5px #eaeaea;
  border-radius: 11px;
  & a {
    color: #fff;
    transition: all 300ms ease;
    &:hover {
      color: #b5e4fc;
    }
  }
  & ul {
    list-style: none;
    & li {
      font-size: .9rem;
      color: #fff;
      padding: 10px;
    }
  }
}
