@import "settings";
@import "foundation";
@import "style";

.contain-to-grid, .top-bar {
  background: #62ABD0;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #62ABD0;
  color: rgb(216, 242, 255);
  font-size: .8rem;
  transition: all 300ms ease;
  &:hover {
    background: #72b8db;
  }
}

.top-bar .name h1 a {
  color: #fff;
  font-family: 'Oleo Script Swash Caps', cursive !important;
  font-size: 1.7rem;
}

button.alert, .button.alert {
  background: #F28282;
  &:hover {
    background: #DC6363;
  }
}
