button, .button {
  color: tomato;
  border: 3px solid tomato;
  background: transparent; }
  button:hover, .button:hover {
    background: tomato; }
  button:focus, .button:focus {
    border: 3px solid #49aee3; }

*:focus {
  outline: 0; }

.bookmark-img {
  border: 5px solid #eaeaea;
  border-radius: 9px; }

.url-small {
  font-size: .7rem;
  color: #7B7B7B;
}
