button, .button {
  color: #fff;
  background: #60b5e0;
  transition: all 250ms ease;
  }
  button:hover, .button:hover {
    background: #4187a3;
  }
  button:focus, .button:focus {
    border: 4px solid #eaeaea;
  }

*:focus {
  outline: 0;
}

.bookmark-img {
  border: 5px solid #eaeaea;
  border-radius: 9px;
}

.small {
  font-size: .7rem;
  color: #7B7B7B;
}
