<small>{{bookmarks.length}} bookmarks</small>
<h3>{{topic}}</h3>
<br>
{{#each bookmarks}}
  <img {{bind-attr src='bookmark_img'}} alt='' class='bookmark-img'>
  <p>{{link-to url 'bookmarks.show' this}}</p>
{{/each}}


