
<div class="row">
  <h2 id='title'>Welcome to Bookclipper</h2>

  {{link-to 'Bookmarks' 'bookmarks' tagName='button' class="button tiny"}}
  {{link-to 'Hashtags' 'hashtags' tagName='button' class="button tiny"}}
  <br>
  {{link-to 'Log In' 'users.new' class="right"}}
  <br>
  {{outlet}}
  <hr>
  <small>
    Website thumbnails by <a href="http://www.bitpixels.com/">BitPixels</a>
  </small>
</div>
