<div class="row">
  <h2 id='title'>Welcome to Bookclipper</h2>

  {{link-to 'Bookmarks' 'bookmarks' tagName='button' class="button tiny"}}
  {{link-to 'Hashtags' 'hashtags' tagName='button' class="button tiny"}}
  <br>
  {{outlet}}
{{!--   <button class="button tiny">Sign up</button> --}}
</div>
