<div class="row">
  <div class="columns">
  {{#if authenticated}}
    {{#link-to 'bookmarks.new' class="tiny round button alert"}}Create New{{/link-to}}
  {{/if}}
  </div>
</div>

<div class='row'>
  {{outlet}}
</div>

<hr>
<div class="row">
  <small>
    Website thumbnails by <a href="http://www.bitpixels.com/">BitPixels</a>
  </small>
</div>
