<div class='row panel'>
  <h3>LOREM IPSUM</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit consequuntur debitis odit saepe quae dolorum sint accusamus, eligendi magni praesentium tenetur ipsum placeat mollitia dolore vitae, quasi ratione, reprehenderit dignissimos.</p>
</div>
{{outlet}}
