# add your own Sendgrid password and username and rename this file to application.yml

SENDGRID_PASSWORD: YOUR_PASSWORD
SENDGRID_USERNAME: YOUR_USERNAME


# twitter oauth
clientId: Twitter_id
clientSecret: Twitter_key


