<form {{action "save" on="submit"}}>
  <label>URL:
    {{input value=model.url}}
  </label>
  <label>tags:
    {{input value=model.hashtags}}
  </label>
  <br>
  <input type="submit" value="save" class="button tiny" />
</form>
