<form {{action "save" on="submit"}}>
  <label>URL:
    {{input value=model.url placeholder='A valid URL'}}
  </label>
  <label>tags:
    {{input value=model.tags placeholder='Related Tags'}}
  </label>
  <br>
  <input type="submit" value="save" class="button tiny" />
</form>
