<form {{action "save" on="submit"}}>
  <label>URL:
    {{input value=url placeholder='A valid URL'}}
  </label>
  <label>Tags:
    {{input value=tags placeholder='Seperated by comma or space'}}
  </label>
  <br>
  <input type="submit" value="save" class="button tiny" />
</form>
