<div class="columns medium-6">
    {{#each}}
      <h5>{{title}}</h5>
      {{#link-to 'bookmarks.show' this}}
        <img {{bind-attr src='bookmark_img'}} alt='' class='bookmark-img'>
      {{/link-to}}
      <br>
      {{#each hashtags}}
        <small>#{{topic}}</small>
      {{/each}}
      <br>
      <small class='small'>Clipped by {{#link-to 'users.show' this.user}} {{user.name}} {{/link-to}}</small>
      <br><br>
    {{/each}}
  </div>
